# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables (VERY IMPORTANT)
.env

# Vector index files (if you create later)
*.index
*.faiss
*.npy

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db